body {
    padding: 0;
    margin: 20px;
}

.timer {
    width: 300px;
    height: 180px;
    background-color: #20232a;
    border-radius: 15px;
}

.timer .controls  .button {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    color: #61dafb;
    text-decoration: none;
    padding: 4px 20px;
    margin: 0px 10px 20px 10px;
    background-color: #20232a;
    border-radius: 10px;
    border: 2px solid #61dafb;
    transition-duration: 0.4s;
}

.timer .controls  .button:hover {
  background-color: #3c414c;
  border: 3px solid #fff;
  color: #fff;
}

.timer .controls  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.timer .controls  #start {
    margin: 20px 10px 10px 20px;


}

.timer .controls  #stop {
    margin: 20px 20px 10px 10px  ;
}

.stopwatch-title {
  color: #fff;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  text-align: center;
  line-height: 25px;
  padding-top: 20px;
}

.stopwatch {
    max-width: 300px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #61dafb;
    padding: 10px 10px 20px 10px;
    display: block;
    letter-spacing: 5px;
}